.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  height: auto;
  padding-top: 20px;
}

h1 {
  text-align: center;
  color: red;
  text-decoration: underline;
}

.line {
  margin-bottom: 10px;
  padding-top: 10px;
}

.lib {
  padding-top: 2px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
}

.blog {
  padding-top: 20px;
}
