.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:840px;
  height:560px;
  padding-top: 20px;
}

.line{
  margin-bottom: 10px;
  padding-top: 10px;

}

.lib{

  padding-top: 2px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;

}

.blog{

  padding-top: 20px;
  color: blueviolet;

}


